* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* 전체 로그인 박스 */
.login-box {
  width: 300px;
  padding: 30px 10px;
  margin: 100px auto;
  background-color: aquamarine;
}
/* 구글 로그인 버튼 */
.google-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}
/* 구글 로고 */
.logo {
  width: 15%;
  /* background-color: rgb(190, 117, 21); */
}
.logo img {
  display: block;
  width: 100%;
}
/* 로그인 메시지 */
.login-txt {
  width: 80%;
  /* background-color: rgb(19, 112, 112); */
}
/* 가운데 or 글자 */
.or-text {
  text-align: center;
  margin: 20px 0;
}
/* 입력폼 */
.form_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* background-color: cadetblue; */
}
.form_wrap input {
  padding: 10px;
}
.login-btn {
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}
/* 비밀번호 찾기 */
.forgot {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}
