*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
/* 박스 5개 정렬하기 */
.container1{
    width: 1000px;
    display: flex;
    padding: 20px;
    background-color: blue;
    align-items: center;
    justify-content: space-evenly;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid #333;
}
.box4{
    background-color: red;
}
.box5{
    background-color: pink;
}
.box6{
    background-color: black;
}
.box7{
    background-color: green;
}
.box8{
    background-color: yellow;
}